name: Build Fork

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to build"
        required: true
        default: "main"

  push:
    branches:
      - main

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        build-type: [Release]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: ${{ inputs.branch || github.ref_name }}

      # - name: Dependencies (Linux)
      #   if: matrix.os == 'ubuntu-latest'
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y \
      #       ninja-build \
      #       cmake \
      #       python3 \
      #       python3-dev \
      #       python3-distutils \
      #       libxml2-dev \
      #       libedit-dev \
      #       libzstd-dev \
      #       libtinfo-dev \
      #       libpfm4-dev \
      #       binutils-dev

      # - name: Install Windows dependencies (Choco)
      #   if: matrix.os == 'windows-latest'
      #   shell: pwsh
      #   run: |
      #     choco install ninja -y
      #     choco install cmake --installargs '"ADD_CMAKE_TO_PATH=System"' -y

      - name: Configure
        shell: bash
        run: |
          clang --version
          clang++ --version
          cmake -B ./build -S ./llvm -G Ninja \
            -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} \
            -DCMAKE_INSTALL_PREFIX=./install \
            -DCMAKE_C_COMPILER=clang \
            -DCMAKE_CXX_COMPILER=clang++ \
            -DCMAKE_LINKER=lld-link \
            -DLLVM_TARGETS_TO_BUILD="X86" \
            -DLLVM_ENABLE_PROJECTS="clang;clang-tools-extra;lld" \
            -DLLVM_ENABLE_RUNTIMES="compiler-rt" \
            -DLLVM_USE_LINKER=lld \
            -DLLVM_INSTALL_TOOLCHAIN_ONLY=ON \
            -DLLVM_USE_CRT_RELEASE=MT \
            -DLLVM_TOOLCHAIN_TOOLS="llc;llvm-ar;llvm-as;llvm-cat;llvm-cov;llvm-cvtres;llvm-cxxfilt;llvm-diff;llvm-dis;llvm-dlltool;llvm-lib;llvm-link;llvm-lto;llvm-lto2;llvm-mc;llvm-nm;llvm-objcopy;llvm-objdump;llvm-profdata;llvm-ranlib;llvm-rc;llvm-readobj;llvm-split;llvm-strings;llvm-strip;llvm-undname;opt" \
            -DLLVM_RUNTIME_DISTRIBUTION_COMPONENTS="compiler-rt" \
            -DLLVM_DISTRIBUTION_COMPONENTS="clang;clangd;clang-format;clang-tidy;clang-scan-deps;lld;llc;llvm-ar;llvm-as;llvm-cat;llvm-cov;llvm-cvtres;llvm-cxxfilt;llvm-diff;llvm-dis;llvm-dlltool;llvm-lib;llvm-link;llvm-lto;llvm-lto2;llvm-mc;llvm-nm;llvm-objcopy;llvm-objdump;llvm-profdata;llvm-ranlib;llvm-rc;llvm-readobj;llvm-split;llvm-strings;llvm-strip;llvm-undname;opt" \

      - name: Build
        run: |
          cmake --build ./build --target distribution

      - name: Install
        run: |
          cmake --build ./build --target install-distribution

      # - name: Package (Linux)
      #   if: matrix.os == 'ubuntu-latest'
      #   run: |
      #     tar -cJf llvm-build-linux.tar.xz build/

      # - name: Package (Windows)
      #   if: matrix.os == 'windows-latest'
      #   shell: pwsh
      #   run: |
      #     Compress-Archive -Path build -DestinationPath llvm-build-windows.zip

      # - name: Upload
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: llvm-build-${{ matrix.os }}
      #     path: |
      #       llvm-build-linux.tar.xz
      #       llvm-build-windows.zip
      #     if-no-files-found: ignore
