name: Sync Fork

on:
  schedule:
    - cron: "0 0 * * 5"  # Every Friday at 00:00 UTC

  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to sync"
        required: true
        default: "main"

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout fork
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }}
          ref: ${{ inputs.branch }}
          fetch-depth: 1

      - name: Configure git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Add upstream
        run: |
          git remote add upstream https://github.com/llvm/llvm-project.git
          git fetch upstream --prune

      - name: Sync upstream branches
        run: |
          git checkout main
          git rebase upstream/main
          git push origin main
